# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/.vs/PrivateChat/FileContentIndex
/x64/Debug
*.recipe
/PrivateChatServer/x64/Debug
/PrivateChatClient/x64/Debug
/.vs/PrivateChat/v17
/PrivateChatClient/Release/PrivateC.AD055C4C.tlog
/PrivateChatClient/Release
/PrivateChatClient/x64/Release
/PrivateChatServer/Release
/PrivateChatServer/x64/Release
/Release
/x64/Release
*.sqlite
/.vs/ProjectSettings.json
